@charset "UTF-8";

/* sobre o fundo das paginas*/

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    margin: 0px;
    padding: 0px;

}
/* menu principal*/

header#pricabeca{
    background-color: lightslategray;
    text-transform: uppercase;
    color: white;
    margin-top: -20px;
}

ul#primenu{
    list-style: none;
    padding: 1px;
    margin: 2px;
    margin-left: 720px;
}
#prisubmenu{
    margin-left: -50px;
}
li.prilin{ 
    color: white;
    background: lightslategray;
    display: inline-block;
    padding: 14px;
    position: relative;
    
    transition-duration: 0.5s;
}
li.prilin a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
li.prilin :hover{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

ul#primenu li.prilin ul#prisubmenu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 18px;
    left: 0;
    display: none;
}
ul#primenu li.prilin:hover > ul#prisubmenu, ul#primenu li.prilin ul#prisubmenu :hover{
    visibility:visible;
    opacity: 1;
    display: block;
}

/*segundo menu que indica o perfil dos membros*/
#segmenu{
    display: block;
    list-style: none;
    background-color: rgb(145, 140, 140);
    top: 10px;
}
.lin{
    padding: 2px;
    transition-duration: 0.5s;
    margin-top: 10px;
}
.lin a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.lin :hover{
        color: white;
        cursor: pointer;
        text-decoration: underline;
}
h1{
    background-color: dimgray;
    text-align: center;
   
}
h2{
    text-align: center;
    padding: 10px;   
}
#desce{
    margin-top: -30px;
}

article{
    background-color: lightgray;
    margin-top: 4px;
    
}
.imagem{
    width: 150px;
    height: 120px;
    margin-left: 500px;
    margin-top: 5px;
}

article > aside{
    background-color: rgb(145, 140, 140);
    margin-top: -5px;
}    

/* corpo geral das paginas*/
main{
    background-color: white;
    padding: 5px;
    margin: auto;
    width: 650px;
    height: 476px;
    border-radius: 40px 0px 40px 0px ;
}
/*paragrafo das paginas*/
p.paragrafo{
    text-align: justify;
    text-indent: 20px;
    margin-left: 5px;
    margin-right: 8px;
}

p.paragraf{
    background-color: rgb(17, 17, 58);
    text-align: justify;
    text-indent: 20px;
    margin-left: 5px;
    margin-right: 8px;
    color: white;
}

/*rodapes das paginas*/
footer{
    background-color: black;
    text-align: center;    
    padding: 2px;
    margin-top: -15px;
    color: white;     
}
footer > p.rodape {
    margin: 0px;
}
#desc{
    text-transform: uppercase;
}


/*para os tablete*/

@media screen and (max-width:600px) { 
    #pricabeca{
        background-color: brown;
    }
     
ul#primenu{
    list-style: none;
    margin: 0px;
}
/* corpo geral das paginas*/
            main{
                background-color: rgb(82, 4, 4);
                width: 300px;
                height: 560px;
            
}

}

/* para smartphone*/

@media screen and (max-width:768px) {


    #pricabeca{
        background-color: black;
    }
    ul#primenu{
        list-style: none;
        margin: 0px;
    } 
    /* corpo geral das paginas*/
    main{
    
        width: 500px;
        height: 760px;
    
    
      
    }
    
    }