@charset "utf8";

/* imagens da pagina principal*/
ul#fotos_principal li span{
    opacity: 0;
    color: white;
    box-shadow: 1px 1px 1px black;
    background-color: rgb(0, 0, 0 .3);
    padding: 3px;

}
ul#fotos_principal{

margin: 0 auto;
margin-left: 75px;
padding: 2px;
overflow: hidden;
list-style: none;
margin-top: -55px;
}
ul#fotos_principal li{
float: left;
width: 150px;
height: 150px;
margin: 5px;
border: 5px solid  white;
background-color: white;
box-shadow: 1px 1px 3px rgb(0,0,0.4);
}
ul#fotos_principal li :hover{
opacity: 1;
}
ul#fotos_principal li.imagem01{
background: url(../imagens/faquer022.jpg) no-repeat;
background-size: 100%;
}
ul#fotos_principal li.imagem02{
background: url(../imagens/miguel02.jpg) no-repeat;
background-size: 100%;
}
ul#fotos_principal li.imagem03{
background: url(../imagens/valdez033.jpg) no-repeat;
background-size: 100%;
}

/*perfil geral de cada membro*/
.imaglegenda{
    margin-top: -15px;
    margin-left: 465px;
    color: white;
}
ul#fotos_perfil li span{
    opacity: 0;
    color: white;
    box-shadow: 1px 1px 1px black;
    background-color: rgb(0, 0, 0 .3);

}
ul#fotos_perfil{

margin-left: 420px;
overflow: hidden;
list-style: none;
margin-top: -30px;
}
ul#fotos_perfil li{
float: left;
width: 150px;
height: 150px;
margin: 5px;
border: 5px solid  white;
background-color: white;
box-shadow: 1px 1px 3px rgb(0,0,0.4);
}
ul#fotos_perfil li.perfil1{
background: url(../imagens/perfil_valdez.jpg) no-repeat;
background-size: 100%;
}
ul#fotos_perfil li.perfil2{
background: url(../imagens/miguel02.jpg) no-repeat;
background-size: 100%;
}
ul#fotos_perfil li.perfil3{
background: url(../imagens/perfil0133.jpg) no-repeat;
background-size: 100%;
}


/*imagens de criacao de sistema WEB*/

ul#fotos_servicos li span{
    opacity: 0;
    color: white;
    box-shadow: 1px 1px 1px black;
    background-color: rgb(0, 0, 0 .3);
    padding: 3px;

}
ul#fotos_servicos{
width: 700px;
margin: 0 auto;
margin-left: 5px;
padding: 10px;
overflow: hidden;
list-style: none;
margin-top: 15px;
}
ul#fotos_servicos li{
float: left;
width: 150px;
height: 100px;
margin: 5px;
border: 5px solid  white;
background-color: white;
box-shadow: 1px 1px 3px rgb(0,0,0.4);
}
ul#fotos_servicos li :hover{
opacity: 1;
}
ul#fotos_servicos li.servico1{
background: url(../imagens/projecto01.png) no-repeat;
background-size: 100%;
}
ul#fotos_servicos li.servico2{
background: url(../imagens/projecto02.png) no-repeat;
background-size: 100%;
}
ul#fotos_servicos li.servico3{
background: url(../imagens/projecto03.png) no-repeat;
background-size: 100%;

}
ul#fotos_servicos li.servico4{
    background: url(../imagens/projecto04.png) no-repeat;
    background-size: 100%;
    margin-top: 130px;
    margin-left: -505px;
}
    
/*imagens de refrigiacao*/

ul#fotos_serviref li span{
    opacity: 0;
    color: white;
    box-shadow: 1px 1px 1px black;
    background-color: rgb(0, 0, 0 .3);
    padding: 3px;

}
ul#fotos_serviref{

margin: 0 auto;
margin-left: 55px;
padding: 10px;
overflow: hidden;
list-style: none;
margin-top: -15px;
}
ul#fotos_serviref li{
float: left;
width: 150px;
height: 150px;
margin: 5px;
border: 5px solid  white;
background-color: white;
box-shadow: 1px 1px 3px rgb(0,0,0.4);
}
ul#fotos_serviref li :hover{
opacity: 1;
}
ul#fotos_serviref li.serviref1{
background: url(../imagens/ref100.jpg) no-repeat;
background-size: 100%;
}
ul#fotos_serviref li.serviref2{
background: url(../imagens/ref2.jpg) no-repeat;
background-size: 100%;
}
ul#fotos_serviref li.serviref3{
background: url(../imagens/ref3.jpg) no-repeat;
background-size: 100%;

}

ul#fotos_serviref li.serviref4{
    background: url(../imagens/ref10.jpg) no-repeat;
    background-size: 100%;
    margin-top: 170px;
    margin-left: -505px;
    }
    
ul#fotos_serviref li.serviref5{
    background: url(../imagens/ref11.jpg) no-repeat;
    background-size: 100%;
    margin-top: 170px;
    margin-left: -335px;
    }

    ul#fotos_serviref li.serviref6{
        background: url(../imagens/ref12.jpg) no-repeat;
        background-size: 100%;
        margin-top: 170px;
        margin-left: -165px;
        }
    
/*imagens de impermeabelizacao*/

ul#fotos_serviimp li span{
    opacity: 0;
    color: white;
    box-shadow: 1px 1px 1px black;
    background-color: rgb(0, 0, 0 .3);
    padding: 3px;

}
ul#fotos_serviimp{

margin: 0 auto;
margin-left: 55px;
padding: 10px;
overflow: hidden;
list-style: none;
margin-top: -15px;
}
ul#fotos_serviimp li{
float: left;
width: 150px;
height: 150px;
margin: 5px;
border: 5px solid  white;
background-color: white;
box-shadow: 1px 1px 3px rgb(0,0,0.4);
}
ul#fotos_serviimp li :hover{
opacity: 1;
}
ul#fotos_serviimp li.serviimp1{
background: url(../imagens/imagm5.jpg) no-repeat;
background-size: 100%;
}
ul#fotos_serviimp li.serviimp2{
background: url(../imagens/imagem4.jpg) no-repeat;
background-size: 100%;
}
ul#fotos_serviimp li.serviimp3{
background: url(../imagens/miguel02.jpg) no-repeat;
background-size: 100%;
}

ul#fotos_serviimp li.serviimp4{
    background: url(../imagens/imagem3.jpg) no-repeat;
    background-size: 100%;
    margin-top: 170px;
    margin-left: -505px;
}
ul#fotos_serviimp li.serviimp5{
    background: url(../imagens/imagem6.jpg) no-repeat;
    background-size: 100%;
    margin-top: 170px;
    margin-left: -335px;
    }

    ul#fotos_serviimp li.serviimp6{
        background: url(../imagens/imagem7.jpg) no-repeat;
        background-size: 100%;
        margin-top: 170px;
        margin-left: -165px;
        }
           
.icon{
    margin-left: 10px;
    width: 60px;
    margin-top: -170px;
    float: left;
    border-radius: 40px 30px 40px 30px ;
}
       
.icon1{
    margin-left: 10px;
    width: 40px;
    margin-top: -120px;
    float: left;
    
    border-radius: 40px 30px 40px 30px ;
}

/*resolucao de tablet*/
@media screen and (max-width:768px){
 /*perfil geral de cada membro*/
.imaglegenda{
    margin-top: -15px;
    margin-left: 305px;
    color: white;
}

  
ul#fotos_perfil{
margin-left: 260px;

}
ul#fotos_perfil li.perfil1{
background: url(../imagens/perfil_valdez.jpg) no-repeat;
background-size: 100%;
}
ul#fotos_perfil li.perfil2{
background: url(../imagens/miguel02.jpg) no-repeat;
background-size: 100%;
}
ul#fotos_perfil li.perfil3{
background: url(../imagens/perfil0133.jpg) no-repeat;
background-size: 100%;
}
   
/* imagens da pagina principal*/

 
ul#fotos_principal{
    
    margin-left: 10px;
    margin-top: -55px;
    }
  
ul#fotos_principal li.imagem01{
    background: url(../imagens/faquer022.jpg) no-repeat;
    background-size: 100%;
    }
    ul#fotos_principal li.imagem02{
    background: url(../imagens/miguel02.jpg) no-repeat;
    background-size: 100%;
    margin-top: -165px;
    margin-left: 180px;
    }
   
   
   ul#fotos_principal li.imagem03{
   background: url(../imagens/valdez033.jpg) no-repeat;
   background-size: 100%;
   
   
   }

/*desenvolvimento Web*/
ul#fotos_servicos{
    width: 550px;
  
    margin-left: 5px;
    padding: 5px;
   
    }
            ul#fotos_servicos li.servico3{
                background: url(../imagens/projecto03.png) no-repeat;
                background-size: 100%;
                margin-top: 5px;
                margin-left: 5px;
                
                }
                ul#fotos_servicos li.servico4{
                    background: url(../imagens/projecto04.png) no-repeat;
                    background-size: 100%;
                    margin-top: 10px;
                    margin-left: 5px;
                }
                 
/*imagens de refregiracao*/

ul#fotos_serviref{
    width: 550px;
    margin-left: 5px;
    padding: 5px;
}

ul#fotos_serviref li.serviref1{
    background: url(../imagens/ref100.jpg) no-repeat;
    background-size: 100%;
    }
ul#fotos_serviref li.serviref2{
background: url(../_imagens/ref2.jpg) no-repeat;
background-size: 100%;
}
ul#fotos_serviref li.serviref3{
background: url(../imagens/ref3.jpg) no-repeat;
background-size: 100%;
margin-top: 5px;
margin-left: 5px;

}
   
ul#fotos_serviref li.serviref4{
        background: url(../imagens/ref10.jpg) no-repeat;
        background-size: 100%;
        margin-top: 10px;
        margin-left: 5px;
}
        
ul#fotos_serviref li.serviref5{
background: url(../imagens/ref11.jpg) no-repeat;
background-size: 100%;
margin-top: 10px;
    margin-left: 5px;
}
    
        ul#fotos_serviref li.serviref6{
            background: url(../imagens/ref12.jpg) no-repeat;
            background-size: 100%;
            margin-top: 10px;
            margin-left: 5px;
            }


/*imagens de impermeabelizacao*/

ul#fotos_serviimp{
    width: 550px;
    margin-left: 5px;
    padding: 5px;
    
    }
    ul#fotos_serviimp li.serviimp3{
        background: url(../imagens/imagem2.jpg) no-repeat;
        background-size: 100%;
        margin-top: 5px;
        margin-left: 5px;
                }
    
                ul#fotos_serviimp li.serviimp4{
                    background: url(../imagens/imagem3.jpg) no-repeat;
                    background-size: 100%;
                    margin-top: 10px;
                    margin-left: 5px;
                }
                ul#fotos_serviimp li.serviimp5{
                    background: url(../imagens/imagem6.jpg) no-repeat;
                    background-size: 100%;
                    margin-top: 10px;
                    margin-left: 5px;
                    }
                
                    ul#fotos_serviimp li.serviimp6{
                        background: url(../imagens/imagem7.jpg) no-repeat;
                        background-size: 100%;
                        margin-top: 10px;
                        margin-left: 5px;
                        }
                           
            
        
.icon{
    margin-left: 10px;
    width: 50px;
    margin-top: -170px;
    float: left;
    
    
}
       
.icon1{
    margin-left: 10px;
    width: 50px;
    margin-top: -120px;
    float: left;    
}
}

/*resol8ucao para smartphone*/

@media screen and (max-width:680px){
    /*perfil geral de cada membro*/
   .imaglegenda{
       margin-top: -15px;
       margin-left: 125px;
      
   }
   
   ul#fotos_perfil{
   
   margin-left: 80px;
   margin-top: 2px;
   }
      
   /* imagens da pagina principal*/
   
ul#fotos_principal{
    
    margin-left: 10px;
    margin-top: -45px;
    }
  
ul#fotos_principal li.imagem01{
    background: url(../imagens/faquer022.jpg) no-repeat;
    background-size: 100%;
    width: 120px;
    
    }
    ul#fotos_principal li.imagem02{
    background: url(../imagens/miguel02.jpg) no-repeat;
    background-size: 100%;
    margin-top: -165px;
    margin-left: 140px;
    width: 120px;
    }
   
   
   ul#fotos_principal li.imagem03{
   background: url(../imagens/valdez033.jpg) no-repeat;
   background-size: 100%;
   margin-top: 10px;
   margin-left: 5px;
   width: 120px;
   
   }

   /*imagens de refregeracao*/
   
ul#fotos_serviref{
    width: 400px;
    margin-left: 10px;
    padding: 5px;
    }
    
    ul#fotos_serviref li.serviref1{
        background: url(../imagens/ref100.jpg) no-repeat;
        background-size: 100%;
        margin-left: 20px;
        width: 120px;
        }
        
    ul#fotos_serviref li.serviref2{
        background: url(../imagens/ref2.jpg) no-repeat;
        background-size: 100%;
        width: 120px;
        }
    ul#fotos_serviref li.serviref3{
    background: url(../imagens/ref3.jpg) no-repeat;
    background-size: 100%;
    margin-top: 170px;
    margin-left: -130px;
    width: 120px;
    }
    ul#fotos_serviref li.serviref4{
        background: url(../imagens/ref10.jpg) no-repeat;
        background-size: 100%;
        margin-top: 170px;
        margin-left: -280px;
        width: 120px;   
    }
        
    ul#fotos_serviref li.serviref5{
        background: url(../imagens/ref11.jpg) no-repeat;
        background-size: 100%;
        margin-top: 340px;
        margin-left: -135px;
        width: 120px;
        }
    
        ul#fotos_serviref li.serviref6{
            background: url(../imagens/ref12.jpg) no-repeat;
            background-size: 100%;
            margin-top: 340px;
            margin-left: -280px;
            width: 120px;
            }

            
ul#fotos_serviimp{
margin-left: auto;
padding: 10px;

} 

ul#fotos_serviimp li.serviimp1{
    background: url(../imagens/imagm5.jpg) no-repeat;
    background-size: 100%;
    width: 120px;
}

ul#fotos_serviimp li.serviimp2{
    background: url(../imagens/imagem1.jpg) no-repeat;
    background-size: 100%;
    width: 120px;
}
ul#fotos_serviimp li.serviimp3{
    background: url(../imagens/imagem2.jpg) no-repeat;
    background-size: 100%;
    margin-top: 170px;
    margin-left: -135px;
    width: 120px;
}

            ul#fotos_serviimp li.serviimp4{
                background: url(../imagens/imagem3.jpg) no-repeat;
                background-size: 100%;
                margin-top: 170px;
                margin-left: -275px;
                width: 120px;
            }
            ul#fotos_serviimp li.serviimp5{
                background: url(../imagens/imagem6.jpg) no-repeat;
                background-size: 100%;
                margin-top: 340px;
                margin-left: -275px;
                width: 120px;
                }
            
                ul#fotos_serviimp li.serviimp6{
                    background: url(../imagens/imagem7.jpg) no-repeat;
                    background-size: 100%;
                    margin-top: 340px;
                    margin-left: -135px;
                    width: 120px;
                    }
                       
                    
ul#fotos_servicos{

   
    margin-left: 5px;
    padding: 10px;
   
}
ul#fotos_servicos li.servico1{
    background: url(../imagens/projecto01.png) no-repeat;
    background-size: 100%;
    width: 120px;
    
    
    }
ul#fotos_servicos li.servico2{
    background: url(../imagens/projecto02.png) no-repeat;
    background-size: 100%;
    width: 120px;
    
    
}
ul#fotos_servicos li.servico3{
    background: url(../imagens/projecto03.png) no-repeat;
    background-size: 100%;
    margin-top: 130px;
    margin-left: -135px;
    width: 120px;            
}
ul#fotos_servicos li.servico4{
    background: url(../imagens/projecto04.png) no-repeat;
    background-size: 100%;
    margin-top: 130px;
    margin-left: -275px;
    width: 120px;
                }
                 
   .icon{
    margin-left: 10px;
    width: 50px;
    margin-top: -170px;
    float: left;
    
}
       
.icon1{
    margin-left: 10px;
    width: 50px;
    margin-top: -130px;
    float: left;
    
}

   }
   
   